@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

html{
    background: url('background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}
header{
    background:rgb(209, 209, 54);
    background-image: linear-gradient(yellow, lightgreen);
    font-family: "Russo One", "sans-serif";
    color: lightblue;
    padding:20px;
    text-align: center;
    border-bottom: 2px green solid;
    margin-bottom: 10px;
    word-spacing: 3px;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-shadow: 2px 2px black;
    font-weight: bold;
    display: flex;
    opacity: 0.85;
    
}

.opener {
    margin-left: 700px;
    margin-top: 20px;
    position: absolute;
}

body{
    font-family: 'Catamaran', sans-serif;
}
.image{
    display: flex;
    margin: auto;
    width:100%;
    max-width: 800px;
    height: 200px;
    background-image: url("fitness-banner.jpg");
    font-family: "Russo One", "sans-serif";
    color: lightblue;
    text-shadow: 2px 2px black;
    letter-spacing: 1.5px;
    justify-content: center;
}
.image-text {
    
}
.container {
    font-weight: bold;
    display: flex;
    margin: auto;
    max-width: 1000px;
    height: 600px
}
.field{
    width: 100%;
    max-width: 400px;
    background-color: lightgray;
    border-radius: 20px;
}
.calendar{
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
    
}
.random{
    background-color: lightgray;
    width: 400px;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    border: black solid;
    border-width: thin ;
    
}
.random p{
    margin-top: 20px;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2d3135;
    opacity: .9;
    padding-top: 60px;
    transition: 0.7s;
    overflow: hidden;
}
.nav ul{
    padding: 0;
}
.nav li:hover{
    border-left: 9px solid #3e84c1;
    background-color: #34383d;
}
.nav a{
    display: block;
    padding: 20px 30px;
    color: #ccc;
    text-decoration: none;
    font-size: 25px;
}
.nav a:hover{
    color: #fff;
    transition: .5s;
}
.nav .close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 30px;

    margin-left: 20px;
}
.slide a {
    font-size: 36px;
    color: #2d3135;
}
.heading .content {
    padding: 20px;
    transition:  margin-left .7s;
    position: absolute;
    margin-right: 100px;
}
.hidden{
    display: none;
}
.event-card{
    display: flex;
    margin: 20px;
    border: solid black;
    min-width: 550px;
}
.img-div img{
    max-height: 100px;
}
.img-div{
    margin: 10px;
}
.info-div{
    margin: 10px;
    width: 100%;
}
.top-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.bottom-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}